<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
<div class="loginbox">
    <img th:src="@{/images.backgammon/avatar3.png}" class="avatar" alt="">
    <h1>Login Here</h1>
    <p>Username</p>
    <div th:if="${loggedUser == null}">
        <form method="get" th:action="@{/backgammon-lukac/play-view}">
            <input name="login" type="text" placeholder="Username" required/>
            <input type="submit" value='Login'>
        </form>
    </div>

</div>
</body>
</html>